In [3]:
!pip3 install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.21-cp38-cp38-manylinux1_x86_64.whl (15.8 MB)
     |████████████████████████████████| 15.8 MB 12.0 MB/s eta 0:00:01   |███▌                            | 1.8 MB 1.7 MB/s eta 0:00:09
Requirement already satisfied: protobuf>=3.0.0 in /opt/conda/lib/python3.8/site-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (49.6.0.post20200814)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.21

In [30]:
import mysql.connector

In [31]:
table_schema = """
    
    CREATE TABLE IF NOT EXISTS groups(
    group_id int(11) NOT NULL AUTO_INCREMENT,
    group_number char(4) NOT NULL,
    description VARCHAR(100),
    something_important int(11),
    PRIMARY KEY (group_id),
    KEY group_number (group_number)
    ) ENGINE=InnoDB
"""

In [54]:
context = mysql.connector.connect(
    host = 'mysql',
    port=3306,
    user='user',
    password='password')
cursor = context.cursor()
cursor.execute("USE school")

In [ ]:

cursor.execute(table_schema)

In [41]:
some_data = """
INSERT INTO groups
(group_number, description, something_important)
VALUES
('1A','some group',100),
('2A','some group',102),
('3A','some group',101),
('1B','some group',123),
('2B','some group',133),
('3B','some group',144);
"""

In [55]:
cursor.execute(some_data)
context.commit()